:root{
  --dark-background:#050A15;
  --dark-text:#050A15;
  --dark-white:#F2F3F3;
  --dark-primary:#E6F6CD;}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: min(1000px, calc(70% * 100px));
  background-color: var(--dark-background);
  color:var(--dark-white)
}
button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
h1{
  font-size: clamp(2.5rem, 12vw, 4rem);
  margin-bottom: .5rem;background: linear-gradient(89.87deg, #E6F6CD 0.1%, #DAF9A7 54.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2{
  font-size: clamp(1.5rem, 8vw, 2.5rem);
  margin-bottom: .5rem;
}
h3{
  font-size: clamp(1.5rem, 8vw, 2rem);
  margin-bottom: .5rem;
}
h4{
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin-bottom: .5rem;
  color:var(--dark-primary)
}
p, html{
  font-size: max(1rem, 1.2vw);
}
::-webkit-scrollbar{
  display: none;
}
a {
  color: var(--dark-white);
  text-decoration: none;
  transition:2ms;
  width:max-content;
}
a:hover{
  color:var(--dark-primary);
  transition:2ms
}
#api-link{
  color:rgba(255, 255, 255, 0.35) ;
  transition:2ms
}
#api-link:hover{
  color:rgba(255, 255, 255, 0.8) ;
  transition:2ms
}
ul{
  list-style-type:none;
  padding:0
}
main{
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
footer{
  height: 8rem;
  display: flex;
  opacity: .5;
  justify-content: space-around;
  text-align: center;
    align-items: center;
}
header{
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
div.flex-and-left-center{
  display: flex;
  width:max-content;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
div.flex-apart{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-content: center;
}
svg{
  color: var(--dark-primary);
  margin: .5rem;
}
.download{
  color:#DAF9A7;
  width: max-content;
}
.download:hover{
  opacity:1;
  transition: .2s
}
div.content{
  padding: 1rem;
  margin: 1rem 0;
  background: rgba(255,255,255,.05);
  border-radius: .5rem;
}
div.inner-content{
  margin-bottom: 1rem;
}
.dark{
  background:var(--dark-background);
  color:var(--dark-white);
}
#contact-info{
  display: flex;
  flex-direction: column;
}
.flex-area{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.theme-box{
  width: 100%;
  background: linear-gradient(89.87deg, #E6F6CD 0.1%, #DAF9A7 54.11%);
  color: var(--dark-text);
  display: flex;
  flex-direction: column;;
  border-radius: .5rem;
  padding-bottom: 2rem;
}
.boxed-item{
  padding: .5rem;
  width:  max-content;
  border: 2px solid var(--dark-white);
  border-radius: .5rem;
  margin: .5rem .5rem .5rem 0;
}
@media screen and (max-width:1440px) {
  main{
    padding: 0 2rem
  }
}
